@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

$image-radius: 20px;
$primary-color:#000;
$primary-color-hover: #333333;
$secondary-color: #D9D9D9;

* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.1em;
    line-height: 28px;
    color: $primary-color;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    font-weight: normal;
    margin-bottom: 18px;
    font-size: 1.6em;
}

p {
    margin-bottom: 10px;
}

a {
    color: $primary-color;
    &:hover {
        color: $secondary-color;
    }
}

input {
    font-family: inherit;
    border:0;
    font-size: 1.1em;
    height: 65px;
    padding: 10px;
    box-sizing: border-box;

    &::placeholder {
        color: $secondary-color;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header mobile-menu"
    "slogan slogan"
    "author author"
    "social social"
    "container container"
    "footer footer";
    max-width: 600px;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box;
}

.header {
    grid-area: header;
    padding: 40px 0;
}

.mobile-menu {
    grid-area: mobile-menu;
    display: grid;
    grid-template-rows: 1fr;
    align-self: center;
    justify-self: end;
    font-size: 0.8em;
}

.slogan {
    grid-area: slogan;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
}

.author {
    grid-area: author;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 6%;
    padding: 25px 0;
    grid-template-areas: 
    "author-image author-image"
    "author-content author-content";

    img {  
        border-radius: $image-radius;
    }
    .author-image {
        grid-area: author-image;
    }
    .author-content {
        grid-area: author-content;
    }
}


.social {
    grid-area: social;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "newsletter"
    "networks";
    grid-row-gap: 20px;
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;

    .newsletter {
        grid-area: newsletter;
        display: grid;
        grid-template-columns: 2fr 1fr;

        .subscribebutton {
            background-color: $primary-color;
            color: #fff;
        }
    }
    .networks {
        grid-area: networks;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 14px;

        a {
            flex-grow: 1;
            text-align: center;
            flex-basis: 0;
        }
    }

    #search__popup {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: grid;
        justify-items: center;
        align-items: center;
        
        input.search {
            width: 400px;
            border-radius: $image-radius;
        }
    }

 
}


.container{
    grid-area: container;
}

article {
    display: grid;
    grid-gap: 6%;
    padding: 25px 0;
    border-bottom: 1px solid $secondary-color;
    grid-template-areas: 
    "thumbnail"
    "content";

    .thumbnail {
        height: 217px;
        grid-area: thumbnail; 

        img {
            border-radius: $image-radius;
            width: 100%;
            height: 100%;
            object-fit: cover;
            // filter: grayscale(100%);
            // -webkit-filter: grayscale(100%);
        }
    }

    .content {
        grid-area: content;
    }


}

.single__article {
    padding: 10px 0;

    h1,h2,h3,h4 {
        margin: 18px 0;
    }

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

}


.button {
    padding: 20px 0;
}

.loadmore {
    background-color: $primary-color;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 40px;
}

footer {
    margin: 20px 0;
    grid-area: footer;
    text-align: center;
}


#toggleMyMenu {
    font-size: 1.6em;
    position: absolute;
    top: 140px;
    background-color: #fff;
    left:0;
    right: 0;
    text-align: center;
    z-index: 1;

    ul {
        list-style: none;

        li {
            padding: 20px;
            position: relative;

            &:not(:last-child):after {
                position: absolute;
                transform: rotate(90deg);
                content: " |";
                left: 0;
                right: 0;
                top: 53px;
                color: $secondary-color;
            }
        
        a {
            padding:20px;
            text-decoration: none;
        }

        }
    }

}


nav.pagination {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    text-align: center;
    border-bottom: 1px solid #D9D9D9;

    a, span {
        padding: 15px 0;
    }
}


@media screen and (min-width: 736px) {

    article {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "thumbnail content";
    }

    .social {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "newsletter networks"; 
    
        .networks {
            margin-bottom: 0;

            img {
                vertical-align: middle;
            }
        }
    }

    .author {
        grid-template-areas: 
        "author-image author-content";
    }



}